@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Sans+Pro:wght@600&display=swap');

:root {
    --primary-color:#5B21B6;
    --secondary-color:#FCA5A5;
    /* --dark-gray:#6B7280; */
    --light-gray: #F3F4F6;
}

.body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

.navigation {
    background-color: var(--secondary-color);
    color: black;
    padding: 1rem,1rem,1rem,1rem;
    border-top-left-radius: 1rem;
}

.navigation .heading {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem,1rem,1rem,1rem;
}

.navigation .list {
    text-align: right;
    margin: 1%;
    font-size: 1.5rem;
    list-style: none;
    font-weight: lighter;
}

.list-inline {
    display: inline-block;
    margin-right: 1rem;
}

.image{
    display: block;
    max-width: 450px;
    margin:auto;
}

.container-center {
    max-width: 600px;
    background-color: var(--light-gray);
    margin:auto;
    text-align: center;
    padding-inline-start: 0px;
    padding: 1rem,1rem,1rem,1rem;
}

.nobgColor {
    background-color: white;
}

.noTextalign {
    text-align: left;
}

h1{
    text-align: center;
    color: black;
    font-size: 1.5rem;
    padding-inline-start: 0px;
    font-weight: bolder;
}

.footer {
    background-color: var(--secondary-color);
    margin: auto;
    border-bottom-right-radius: 1rem;
    font-size: bold;
    text-align: center;
    padding: 1rem,1rem,1rem,1rem;
}

.footer .copyright {
    font-weight: bolder;
    text-align: right;
}

.list .noSpacing {
    letter-spacing: 0rem;
    margin-right: 2rem;
}

a:link {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

a:hover {
    color: red;
}

a:active{
    color: blue;
    font-weight: bolder;
    text-decoration: underline;
}

.button {
    text-decoration: none;
    border: solid;
    border-radius: 0.1rem;
    background-color: var(--primary-color);
    color:white;
    border: 1px;
    display: inline-block;
    margin-right: 2rem;
    font-weight: lighter;
}   


